body{
    min-width: 320px;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.clearboth {
    clear: both;
}

.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #52B24E !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #52B24E !important;
    border-color: #52B24E !important;
}
.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none !important;
    border-color: #52B24E !important;
}
.form-control.is-valid, .was-validated .form-control:valid,
.form-control.is-invalid, .was-validated .form-control:invalid {
    background-image: none;
    padding-right: 0.75rem !important;
}

.custom-control-input.is-valid~.custom-control-label, .was-validated .custom-control-input:valid~.custom-control-label {
    color: #000;
}

.custom-control-input.is-valid~.custom-control-label::before, .was-validated .custom-control-input:valid~.custom-control-label::before {
    border-color: #B9B8B9;
}

.border-line{
    width: 100%;
    height: 1px;
    background: #E7E5E6;
}
.header {
}

.header .header-logo{
    margin: 5px 0;
    width: 160px;
}

.header-text {
    font-family: Noto Sans TC;
    font-size: 28px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 42px;
}

.body{
    margin: 50px 0;
}
.footer{
    height: 39px;
    margin-top: auto;
    border-top: 1px solid #E7E5E6;
}
.footer .footer-text {
    display: block;
    margin: 0 auto;
    font-family: PingFang TC;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 10px;
    width: 134px;
}

.progressbar {
    margin: 40px 0;
    padding-left: 0;
}

.progressbar li {
    display: block;
    float: left;
    width: 33.33333%;
    position: relative;
    text-align: center;
    color: #B9B8B9;
}

.progressbar li .mb-prog-section {
    display: none !important;
}

.progressbar li .pc-prog-section {
    display: block !important;
}

.progressbar li .pc-prog-section .pc-prog-ball, .progressbar li .mb-prog-section .mb-prog-ball {
    width: 30px;
    height: 30px;
    line-height : 30px;
    border: 1px solid #ddd;
    border-radius: 100%;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    background-color: #B9B8B9;

    font-family: Noto Sans TC;
    font-size: 14px;
    font-weight: 700;
    color: #FFF;
}

.progressbar li .mb-prog-section .mb-prog-title {
    height: 31px;
    width: 96px;
    border-radius: 14px;

    line-height : 30px;
    border: 2px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    background-color: #B9B8B9;

    font-family: Noto Sans TC;
    font-size: 14px;
    font-weight: 700;
    color: #61E1A2;
}


.progressbar li .prog-section-line {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ddd;
    top: 15px;
    left: -50%;
    z-index : -1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active {
    color: #61E1A2;
}
.progressbar li.active .pc-prog-section .pc-prog-ball, .progressbar li.active .mb-prog-section .mb-prog-ball {
    border-color: #61E1A2;
    background-color: #61E1A2;
    color: #FFF;
} 

.progressbar li.active-2 .pc-prog-section .pc-prog-ball {
    border: 2px solid #61E1A2;
    border-color: #61E1A2;
    background-color:#FFF;
    color: #61E1A2;
} 

.progressbar li.active .mb-prog-section .mb-prog-title {
    border-color: #61E1A2;
    color: #61E1A2;
    background-color: #FFF;
} 

.progressbar .prog-section-line.active {
    background-color: #61E1A2;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #61E1A2;
    background-color: #61E1A2;
}

@media  (max-width: 390px) {

    .progressbar li .mb-prog-section {
        display: block !important;
    }

    .progressbar li .pc-prog-section {
        display: none !important;
    }

    /* .progressbar li {
        width: 32.4%;
    } */

}